<h1>Login</h1>
<div class="form">
  <form method="POST" action="/users/login">
    <label for="name">Email:</label>
    <input type="text" id="email" name="email">
    <br>

    <label for="name">Password:</label>
    <input type="password" id="password" name="password">
    <br>

    <input type="submit" value="Login">
    <p> No Account?
      <a href="/users/register">Register</a>
    </p>
  </form>
</div>